<div class="body">
    <div class="form-container">
        <h2>Contact Form</h2>
        <form>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="Enter your name" required>
    
            <label for="mobile">Mobile:</label>
            <input type="tel" id="mobile" name="mobile" placeholder="Enter your mobile number" required>
    
            <label for="">Course</label>
            <select name="" id="" style="width: 100%; border: 1px solid #cccc; border-radius: 5px;padding: 8px;margin-bottom: 10px;" >
                <option value="1"> Mern Stack </option>
                <option value="1"> Mean Stack </option>
                <option value="1"> Python React </option>
            </select>

            <input type="submit" value="Submit">
        </form>
    </div>
    
</div>