<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Your Mentor <span  >Bro</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Student reviews</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About us</a>
          </li>
        </ul>
        <span class="navbar-text">
       <button mat-raised-button color="primary" > Log In</button>
        </span>
      </div>
    </div>
  </nav>
  <div class="msg-alerts" >
   Next batch starts Tomorrow !
  </div>




<div>
<img  style="width: 100%;" src="../../assets/Black Professional School Admission Banner (1).png" alt="">

</div>



  <section  class="section-one" >

 
    <div class="card-group"   >
      <div class="card">
        <img class="card-img-top" src="../../assets/Reactjs.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">MERN STACK</h5>
          <p class="card-text">The MERN stack, consisting of MongoDB, Express, React, and Node.js, enables full-stack JavaScript development for building dynamic, modern web applications.</p>
          <p class="card-text">
            <button mat-raised-button color="primary" (click)="OpenApply()"  >Apply Now</button>
            <button mat-raised-button color="accent" routerLink="/courses/mern-stack"  >Get RoadMap</button>
          </p>

        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/Angular.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">MEAN STACK</h5>
          <p class="card-text">The MEAN stack, consisting of MongoDB, Express, Angular, and Node.js, along with the MERN stack, enables full-stack JavaScript development for powerful, scalable web applications.</p>
          <p class="card-text">
            <button mat-raised-button color="primary" (click)="OpenApply()" >Apply Now</button>
            <button mat-raised-button color="accent" routerLink="/courses/mean-stack"  >Get RoadMap</button>
          </p>

        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="../../assets/python2.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">PYTHON WITH REACT</h5>
          <p class="card-text">The combination of Python Django with React, like the MERN and MEAN stacks, provides a robust framework for building scalable back-end systems and dynamic front-end applications.</p>
          <p class="card-text">
            <button mat-raised-button color="primary" (click)="OpenApply()"  >Apply Now</button>
            <button mat-raised-button color="accent" routerLink="/courses/mern-stack"  >Get RoadMap</button>
          </p>
        </div>
      </div>
    </div>


  

  </section>



  <!-- End -->

  <section>


<div class="heading">
    <h1>  <mat-icon>turned_in_not</mat-icon> Get Started with Our Demo Coding  <span style="margin-left: 5px;" >Sessions</span></h1>
</div> 

<div class="video-container">
        <div class="video" >
            <iframe width="280" height="160" src="https://www.youtube.com/embed/VUnS5x9Y984?si=k_oJ2F4IjyuCWuuw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="video" >
            <iframe width="280" height="160" src="https://www.youtube.com/embed/163DC-UmA1M?si=NwgeznIG5EWwpS3m" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <div class="video" >
          <iframe width="280" height="160" src="https://www.youtube.com/embed/163DC-UmA1M?si=NwgeznIG5EWwpS3m" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
      <div class="video" >
        <iframe width="280" height="160" src="https://www.youtube.com/embed/163DC-UmA1M?si=NwgeznIG5EWwpS3m" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
      </div>
      
  </section>

  <section>
    <div class="heading">
        <h1>  <mat-icon>turned_in_not</mat-icon> Meet Our   <span class="ms-2" >Faculties</span></h1>
    </div>


    <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-3">
            <div class="profile-card">
              <img src="https://via.placeholder.com/100" alt="Manuella" class="profile-img">
              <h5 class="mt-3">Ajmal Sabith</h5>
              <p>Working At Austration Based Company LIPLock Technology Pvt Ltd as MEAN stack Developer</p>
              <div class="social-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="profile-card">
              <img src="https://via.placeholder.com/100" alt="Samuel" class="profile-img">
              <h5 class="mt-3">Muhammed Rifaan</h5>
              <p>Working At Bicoders Solution LLP ,as MEAN Stack Developer Also working in React</p>
              <div class="social-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="profile-card">
              <img src="https://via.placeholder.com/100" alt="Tom" class="profile-img">
              <h5 class="mt-3">Radwan Rashique</h5>
              <p>Working as a MERN stack developer in Mumbai and Founder of Your Mentor Bro</p>
              <div class="social-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="profile-card">
              <img src="https://via.placeholder.com/100" alt="John" class="profile-img">
              <h5 class="mt-3">Anaga Anandharaman</h5>
              <p>Working at Symbiosys Vengara Pvt Ltd as Python full stack developer with exporture of React</p>
              <div class="social-icons">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-linkedin"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      
  </section>

  <section >
    <div class="heading">
        <h1>  <mat-icon>turned_in_not</mat-icon> Why you want choose  <span style="margin-left: 5px;" >our programme </span> ?</h1>
    </div> 


    <ul class="list-disc">
      <li  >
        <span class="subject">Mentorship by Experienced Professionals:</span> Our mentorship program connects you with industry professionals who have over 2 years of experience in their respective fields. They’ll guide you step-by-step through your learning journey.
      </li>
      <li>
        <span class="subject">24/7 Support for Doubt Clearance:</span> We offer round-the-clock support through chat to ensure that any doubts or questions you may have are addressed promptly.
      </li>
      <li> 
        
       <span class="subject"> Encouraging Self-Learning:</span> We believe in the power of self-learning, as it fosters independence and critical thinking. Our program is designed to help you explore different domains, develop problem-solving skills, and become a more versatile learner.

      </li>
      <li> 
       <span class="subject"> Weekly Progress Reviews:</span> To ensure you're on track, we conduct weekly reviews to assess your progress and readiness to move on to the next topic. This helps keep you focused and allows us to provide personalized feedback  
      </li>
      <li>
       <span class="subject"> Collaborative Learning:</span> You’ll have the opportunity to connect with fellow students, study together, and share experiences. This collaborative environment encourages peer learning and makes it easier to resolve doubts.
      </li>
     <li> 
     <span class="subject"> Affordable Pricing with Flexible Payment Options:</span> We offer this comprehensive online mentorship program at a very budget-friendly price. If financial constraints are a concern, you can opt to pay only 40% of the fee upfront and the remaining balance after securing a job.  
    </li>
    </ul>
  </section>

  <section>
    <div class="heading "  style="margin-bottom: 20px;">
      <h1>  <mat-icon>turned_in_not</mat-icon> Our Student  <span style="margin-left: 5px;" >Reviews</span></h1>
  </div>
  
  
    <div class="row text-center">
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="d-flex justify-content-center mb-4">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(1).webp"
            class="rounded-circle shadow-1-strong" width="150" height="150" />
        </div>
        <h5 class="mb-3">Maria Smantha</h5>
        <h6 class="text-primary mb-3">Web Developer</h6>
        <p class="px-xl-3">
          <i class="fas fa-quote-left pe-2"></i>Lorem ipsum dolor sit amet, consectetur
          adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab hic
          tenetur.
        </p>
        <ul class="list-unstyled d-flex justify-content-center mb-0">
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star-half-alt fa-sm text-warning"></i>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-5 mb-md-0">
        <div class="d-flex justify-content-center mb-4">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
            class="rounded-circle shadow-1-strong" width="150" height="150" />
        </div>
        <h5 class="mb-3">Lisa Cudrow</h5>
        <h6 class="text-primary mb-3">Graphic Designer</h6>
        <p class="px-xl-3">
          <i class="fas fa-quote-left pe-2"></i>Ut enim ad minima veniam, quis nostrum
          exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid commodi.
        </p>
        <ul class="list-unstyled d-flex justify-content-center mb-0">
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-0">
        <div class="d-flex justify-content-center mb-4">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(9).webp"
            class="rounded-circle shadow-1-strong" width="150" height="150" />
        </div>
        <h5 class="mb-3">John Smith</h5>
        <h6 class="text-primary mb-3">Marketing Specialist</h6>
        <p class="px-xl-3">
          <i class="fas fa-quote-left pe-2"></i>At vero eos et accusamus et iusto odio
          dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti.
        </p>
        <ul class="list-unstyled d-flex justify-content-center mb-0">
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="far fa-star fa-sm text-warning"></i>
          </li>
        </ul>
      </div>
    </div>
  </section>

<!-- FAQs -->

<section>
  <div class="heading "  style="margin-bottom: 20px;">
    <h1>  <mat-icon>turned_in_not</mat-icon> FA<span >Qs</span></h1>
</div>


<div class="accordion w-100" id="basicAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button data-mdb-button-init  data-mdb-collapse-init class="accordion-button collapsed" type="button"
        data-mdb-target="#basicAccordionCollapseOne" aria-expanded="false" aria-controls="collapseOne">
        Question #1
      </button>
    </h2>
    <div id="basicAccordionCollapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
      data-mdb-parent="#basicAccordion" style="">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is shown by default,
        until the collapse plugin adds the appropriate classes that we use to style each
        element. These classes control the overall appearance, as well as the showing and
        hiding via CSS transitions. You can modify any of this with custom CSS or overriding
        our default variables. It's also worth noting that just about any HTML can go within
        the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button data-mdb-button-init  data-mdb-collapse-init class="accordion-button collapsed" type="button"
        data-mdb-target="#basicAccordionCollapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Question #2
      </button>
    </h2>
    <div id="basicAccordionCollapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
      data-mdb-parent="#basicAccordion" style="">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default,
        until the collapse plugin adds the appropriate classes that we use to style each
        element. These classes control the overall appearance, as well as the showing and
        hiding via CSS transitions. You can modify any of this with custom CSS or overriding
        our default variables. It's also worth noting that just about any HTML can go within
        the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button data-mdb-button-init  data-mdb-collapse-init class="accordion-button collapsed" type="button"
        data-mdb-target="#basicAccordionCollapseThree" aria-expanded="false" aria-controls="collapseThree">
        Question #3
      </button>
    </h2>
    <div id="basicAccordionCollapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
      data-mdb-parent="#basicAccordion" style="">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default,
        until the collapse plugin adds the appropriate classes that we use to style each
        element. These classes control the overall appearance, as well as the showing and
        hiding via CSS transitions. You can modify any of this with custom CSS or overriding
        our default variables. It's also worth noting that just about any HTML can go within
        the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>



</section>

<!-- FaQs End -->

  <section>
    <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-2">

  <footer class="text-center text-white">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-facebook"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        >
        <i class="bi bi-instagram"></i>
      </a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center text-dark p-3" >
    © 2020 Copyright:
    <a class="text-dark" href="https://mdbootstrap.com/">Your Mentor Bro</a>
  </div>
  <!-- Copyright -->
</footer>
  
</div>
<!-- End of .container -->
  </section>