<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Your Mentor <span  >Bro</span></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pricing</a>
          </li>
        </ul>
        <span class="navbar-text">
       <button mat-raised-button color="primary" > Log In</button>
        </span>
      </div>
    </div>
  </nav>
  <div class="msg-alerts" >
   Next batch starts Tomorrow !
  </div>

  <section  class="section-one" >

 

    <div class="sec-left">

    </div>


    <div class="sec-right pt-3" >
          <h1 class="text-center" style="font-weight: 700;" >Book for Your Trial Classes Now!</h1>
          <p class="text-center "  style="color: grey;white-space: nowrap;" > connect with to know about more details about the bootcamp</p>
<div class="main-box" >

    <label for="">Full Name</label>

    <div class="input-group">
        <input type="text" class="form-control"  placeholder="name" >
        <div class="input-group-append">
            <div class="input-group-text">
               <mat-icon>person_outline</mat-icon>
            </div>
        </div>
    </div>

  

</div>



<div class="main-box" >

    <label for="">Mobile</label>

    <div class="input-group">
        <input type="text" class="form-control" placeholder="+91 " >
        <div class="input-group-append">
            <div class="input-group-text">
               <mat-icon>call</mat-icon>
            </div>
        </div>
    </div>



</div>

<div class="main-box" >
     <button mat-raised-button color="primary" style="width: 100%; margin-top: 15px;" > Apply Now  </button>
</div>

    </div>

  </section>